button {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    padding: 10px 15px;
    line-height: 40px;
    background-color: rgba(74, 106, 248, 0.7);
    border-radius: 8px;
    box-shadow: none;
    border: none;
    color: white;
}

button:hover {
    transition: all .25s ease-in-out;
    background-color: rgba(74, 106, 248, 1);
    cursor: pointer;
}

#student-info p {
    margin: 10px 0;
    font-size: 16px;
}

#student-info h4 {
    margin: 0;
    font-size: 14px;
}
